<div id="<%= dom_id image %>">
  <p>
    <strong>Image:</strong>
    <%= image.image %>
  </p>

  <p>
    <strong>Imageable type:</strong>
    <%= image.imageable_type %>
  </p>

  <p>
    <strong>ImageableID:</strong>
    <%= image.imageable_id %>
  </p>

</div>
